# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build folders
client/dist/
client/.vite/
server/dist/

# Environment variables
.env
.env.local

# Mac files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*

todo.md